@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@using Our.Umbraco.Vorto.Extensions
@using Bro.Justr.Umbraco.Extensions
@using System.Globalization
@{
    var productName = ((IPublishedContent)CurrentPage).GetVortoValue("pageName");
    if (productName == null)
    {
        productName = CurrentPage.Name;
    }
    var productDescription = ((IPublishedContent)CurrentPage).GetVortoValue("productDescription");

    CultureInfo currentCulture = new CultureInfo(this.Culture);
}

<div role="content">
	@productName
	<br/>
	@Html.Raw(productDescription)

	<br/>
	@if (CurrentPage.HasValue("productImage"))
	{
		<img src='@CurrentPage.GetCropUrl("productImage", "200x200")' />
		<!--<img src="@CurrentPage.productImage.src" alt="" />-->
	}
    <br />
    @Umbraco.GetDictionaryValue("ProductPrice")
	<br/>
    Город: @Umbraco.Field("productLocationCity")	
</div>