@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@using Our.Umbraco.Vorto.Extensions
@using Bro.Justr.Umbraco.Extensions
@using System.Globalization

@{
    CultureInfo currentCulture = new CultureInfo(this.Culture);
    var currentCategoryName = ((IPublishedContent)CurrentPage).GetPageName();
    var children = ((IPublishedContent)CurrentPage).Children();
    var categories = children.Where(i => i.DocumentTypeAlias == "ProductCategory");
    var products = children.Where(i => i.DocumentTypeAlias == "Product");
}

<div class="subcategoriesPanel">
    <ul class="subcategoriesList">
        @foreach (var ipCategory in categories)
        {
            var categoryName = ipCategory.GetPageName();
            string categoryPageUrl = ipCategory.GetUrl(currentCulture);

            <li><a href="@categoryPageUrl">@categoryName</a></li>
        }
    </ul>
</div>

<div role="content" class="productsPanel">
    <h2>@currentCategoryName</h2>
    <div class="productList">
        @foreach (var ipProduct in products)
        {
            var productName = ipProduct.GetPageName();
            string productPageUrl = ipProduct.GetUrl(currentCulture);
            var description = ipProduct.GetVortoValue("productDescription");

            <div class="productListItem">
                <div class="productListItemLeft">
                    &nbsp;
                    @if (ipProduct.HasValue("productImage"))
                    {
                        <img src='@ipProduct.GetCropUrl("productImage", "200x200")' class="productThumbnail" />
		            }
                </div>
                <div class="productListItemCenter">
                    <a href="@productPageUrl">@productName</a>
                    <div>@Umbraco.GetDictionaryValue("LocationCity"): @ipProduct.GetPropertyValue("productLocationCity")</div>
                    <div>@Html.Raw(@description)</div>
                </div>
                <div class="productListItemRight"><div>price</div></div>
            </div>
        }
    </div>
</div>